* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Poppins, Arial;
}

body {
	padding: 50px;
	max-width: 800px;
}

.title-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

button {
	padding: 5px 10px;
	font-size: 20px;
	background: #39f;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

a {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	text-decoration: none;
	color: #000;
}

a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.loading,
.background-fetch {
	font-weight: bold;
	font-size: 20px;
	display: block;
}

.loading {
	color: red;
}

.background-fetch {
	color: green;
}
